<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>coffee1</string>
		<key>image_name</key>
		<string>Black</string>
		<key>desc</key>
		<string>description1</string>
		<key>is_hot</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>coffee2</string>
		<key>image_name</key>
		<string>Latte</string>
		<key>desc</key>
		<string>description2</string>
		<key>is_hot</key>
		<true/>
	</dict>
</array>
</plist>
