<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>khaled.elmorabea@gmail.com</key>
	<string>!2345678</string>
	<key>hassaanelgarem@gmail.com</key>
	<string>!2345678</string>
	<key>valid@valid.com</key>
	<string>Password!</string>
</dict>
</plist>
